li {
    margin-top: 10px;
    margin-bottom: 10px;
}
html {
    background-color: darkolivegreen;
}
h1 {
    text-align: center;
    color:brown;
    
}
img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color:blanchedalmond;
    padding: 10px 20px 20px 20px;
    border: 5px solid black;
}
figcaption {
    text-align: center;
    color: red;
}
#heading {
    color: blue;
}
.popular {
    border: 4px dotted red;
}